<main>
  <h1>Hello <%= @user.name %></h1>

  <article>
    <section>
      <h2>Email:</h2>
      <h3><%= @user.email %></h3>
    </section>
    <section>
      <h2>Address:</h2>
      <h3><%= @user.address %></h3>
    </section>

  </article>

</main>
