/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: ariel, sans-serif;
  font-size: 14pt;
  margin: 0;
}

nav {
  background-color: navy;
  color: white;
  font-size: 1.2em;
  padding: .5em;
}
nav a {
  color: white;
  padding: .5em;
  text-decoration: none;
}
nav a:hover {
  color: yellow;
}

main {
  padding: 1em;
  /* display: block; */
}
h1 {
  text-align: center;
}

article {
  display: flex;
}
article form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
article section {
  /* width: 95%; */
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  padding: .5em;
  align-content: space-around;
}
article section h2 {
  padding: .5em;
  margin: 0px;
  width: 225px;
  float: left;
  text-align: right;
  /* font-size: 1.5em; */
  /* height: 1.6em; */
}
article section h3 {
  padding: .5em;
  margin: 0px;
  width: 225px;
  float: right;
  text-align: left;
  /* font-size: 1.5em; */
  /* height: 1.6em; */
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

.accessories {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex: 0, 0, 250px; */
}
.accessories section {
  padding: 1rem;
  width: 250px;
  /* min-width: 200px; */
}
.accessories h2 {
  text-align: center;
  margin-bottom: .2em;
}
.accessories img {
  width: 100%;
}

.med-image {
  height: 175px;
  display: flex;
  align-items: center;
}

.admin-buttons {
  margin-top: .5em;
  display: flex;
  justify-content: space-around;
}
.admin-buttons form {
  width: 35%;
}
.admin-buttons form input {
  padding: .2em;
  width: 100%;
  border: none;
  /* background-color: green; */
  color: white;
  font-size: .8em;
}

.edit-button {
  background-color: darkorange;
}
.edit-button:hover {
  background-color: orange;
}
.delete-button {
  background-color: darkred;
}
.delete-button:hover {
  background-color: red;
}
.add-button {
  border: none;
  background-color: darkgreen;
  color: white;
}
.add-button:hover {
  background-color: green;
}

h3 input {
  padding: .2em;
  width: 80%;
  font-size: .8em;
}
